/* App.css */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.uploadLabel {
  font-size: 24px;
  margin-bottom: 10px;
}

.uploadButton {
  display: block;
  margin-top: 10px;
}

.video-preview {
  max-width: 100%;
  margin-top: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.card-container .card {
  flex: 1 1 calc(10% - 6px); /* 10 cards in a row */
  margin: 5px;
  max-width: 100px; /* Ensure maximum width for cards */
}
